.matrix-background {
  position: absolute;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.modal-container {
  position: absolute;
}

.auth-buttons {
  margin: auto;
  margin-top: 1em;
  width: 15em;
  display: inline-block;
}

.auth-container {
  min-width: 200;
  min-height: 150;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 20px white;
  text-align: center;
  margin-top: 25em;
  background-color: rgb(0,239,53);
  /* background-color: rgb(160, 206, 242); */
  padding-bottom: 1em;
  padding-top: 1em;
}


.footer {
  position: absolute;
  right: 0;
  margin-right: 10px;
  bottom: 0;
  font-size: 20px;
  color: white;
  font-family: 'Merriweather', serif;  
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1.5 );
  }
  20%
  {
    transform: scale( 2 );
  }
  40%
  {
    transform: scale( 1.5 );
  }
  60%
  {
    transform: scale( 2 );
  }
  80%
  {
    transform: scale( 1.5 );
  }
  100%
  {
    transform: scale( 1.5 );
  }
}

#heart {
  display: inline-block;
  color: #00ff00;
  animation: heartbeat 1s infinite;
  animation-play-state: paused;
}

#heart:hover {
  animation-play-state: running;
}