.alert__h1 {
  font-family: "Lato", sans-serif;
}

.assignment__thumbnail {
  text-align: center;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  margin-left: 5px;
}

.assignment__thumbnail-title {
  font-size: 2rem;
}
