.content-container {
  background-color: rgba(255,255,255,0.5) !important;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.teacher-menu {
  margin-top: 2em;
}

.inline-button {
  float: right;
}