.alert__h1 {
  font-family: 'Nunito', sans-serif;
}

.assignment-container {
  padding: 1em;
  background-color: rgba(255,255,255,0.5) !important;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.assignment__thumbnail {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.assignment__thumbnail-title {
  font-size: 2rem;
}

.assignment__link__margin-top, .assignment__link__margin-top:hover {
	text-decoration: none;
	color: black;
	margin-top: 1em;
}

.assignment__link, .assignment__link:hover{
  text-decoration: none;
  color: black;
  margin-left: 1em;
}

.assignment__link:first-child {
  margin-left: 0;
}