.footer {
  position: absolute;
  right: 0;
  margin-right: 20px;
  bottom: 0;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  font-family: "Merriweather", serif;
}

.footer__name-margin {
  margin-left: 10px;
}

.heart {
	color: #000;
  animation: beat .25s infinite alternate;
  animation-play-state: paused;
  transform-origin: center;
}

.heart:hover {
  animation-play-state: running;
}

@media  (max-width: 426px) {
  .footer {
    font-size: 16px;
  }
}

/* Heart beat animation */
@keyframes beat{
  from {color: #000}
	to { color: red }
}